 body {
 	background:linear-gradient(black,gray,black);
 	height: 1000px;
 }
 .container {
 	width: 800px;
 	margin: auto;
 	background-color: black;
 	border-left: 4px floralwhite solid;
 	border-right: 4px floralwhite solid;
 }

 .judul {
 	font-size: 57px;
 	color: white;
 	text-decoration: none;
  background: linear-gradient(black,grey);
  font-weight: bold;
 }
 .judul a {
 	font-size: 57px;
 	color: black;
 	text-decoration: none;
  font-weight: bold;

 }
 .container .header p {
 	color: whitesmoke;
 	font-size: 17px;
 	text-align: left;
 	
 }
 img {
 	width: 800px;
 	height: 357px;
 	border-top: 10px whitesmoke double;

 }
 
 footer {
 	color: black;
 	font-size: 17px;
 	text-align: center;
 	background-color: whitesmoke;
 	padding-bottom: 10px;
 	padding-top: 10px;
 	font-weight: bold;
 }
 .satu {
 	background:linear-gradient(black,white);
 	width: 131px;
 	height: 73px;
 	position: absolute;
 	color: white;
 	font-size: 37px;
 	font-weight: bold;
 	padding-top: 36px;
  
  
 }
 .dua { 
 	background:linear-gradient(black,white);
 	margin-left: 132px;
 	margin-top: 110px;
 	width: 	131px;
 	height: 73px;
 	position: absolute;
 	color: white;
 	font-size: 37px;
 	font-weight: bold;
 	padding-top: 36px;
  }
  .tiga {
  	margin-top: 220px;
  	width: 131px;
  	height: 73px;
  	position: absolute;
  	background:linear-gradient(black,white);
  	color: white;
 	font-size: 37px;
 	font-weight: bold;
 	padding-top: 36px;


  }
  .empat {
  	margin-top: 330px;
  	width: 131px;
  	height: 73px;
  	position: absolute;
  	background:linear-gradient(black,white);
  	margin-left: 132px;
  	color: white;
 	font-size: 37px;
 	font-weight: bold;
 	padding-top: 36px;
  }
  .kiri {
  	text-align: center;
  	font-family: arial; 
  	margin: auto;
    transition: 
  }
  .lima {
  	background:linear-gradient(white,black);
  	width: 134px;
  	height: 75px;
  	position: absolute;
  	top: 0;
  	right:0; 
  	padding-top: 34px;
    color: white;
  }
  .enam {
  	background:linear-gradient(white,black);
  	width: 135px;
  	height: 75px;
  	position: absolute;
  	right: 0;
  	margin-right: 135px;
  	margin-top: 103px;
  	padding-top: 34px;
    color: white;
  }
  .tujuh {
  	background:linear-gradient(white,black);
  	width: 135px;
  	height: 75px;
  	position: absolute;
  	right: 0;
  	margin-top: 213px;
  	padding-top: 34px;
    color: white;
  }
  .lapan {
  	background:linear-gradient(white,black);
  	width: 135px;
  	height: 75px;
  	position: absolute;
    color: white;
  	right: 0;
  	margin-right: 135px;
  	margin-top: 322px;
  	padding-top: 36px;
  }
  .kanan {
  	font-size: 37px;
  	font-family: arial;
  	margin: auto;
  	text-align: center;
  	font-weight: bold;

  }

  .sidenote {
  	width: 263px;
  	height: 110px;
  	margin-top: 440px;
  	position: absolute;
  	color: floralwhite;
  	text-align: center;
  	padding-top: 110px;
  	font-size: 37px;
  	font-weight: bold;
  	position: fixed;
  	font-family: arial;
    animation-name: satu;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
 }
 @keyframes satu {
  from {
    transform: rotateY(360deg);
  }
    }
  .sidenote2 {
  	width: 263px;
  	height: 110px;
  	margin-top: 440px;
  	position: absolute;
  	color: floralwhite;
  	text-align: center;
  	padding-top: 110px;
  	font-size: 37px;
  	font-weight: bold;
  	position: fixed;
  	font-family: arial;
  	right: 0;
    animation-name: dua;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-delay: .7s;
  }
  @keyframes dua {
    from {
      transform: rotateY(-360deg);
    }
  }
  .sidenote3 {
  	width: 263px;
  	height: 110px;
  	margin-top: 440px;
  	position: absolute;
  	color: floralwhite;
  	text-align: center;
  	padding-top: 110px;
  	font-size: 37px;
  	font-weight: bold;
  	position: fixed;
  	font-family: arial;
  	right: 40%;
  	z-index: -1;
  	font-variant: small-caps;

  }

  
